<div class="research-interests">
  <ul>
    <li>
      <strong class="research-topic">
        <i class="fas fa-shield-alt"></i>
        <span>Trustworthy AI</span>
      </strong>
      <ul>
        <li><i class="fas fa-angle-right"></i> Privacy risks of AI systems:<a href="https://www.usenix.org/system/files/sec24-wu-yixin.pdf">[USENIX'24]</a>,<a href="https://petsymposium.org/popets/2024/popets-2024-0143.pdf">[PETS'24]</a></li>
        <li><i class="fas fa-angle-right"></i> Unsafe and biased content generation:<a href="https://dl.acm.org/doi/pdf/10.1145/3658644.3690288">[CCS'24]</a></li>
      </ul>
    </li>

    <li>
      <strong class="research-topic">
        <i class="fas fa-shield-alt"></i>
        <span>Responsible use of AI</span>
      </strong>
      <ul>
        <li><i class="fas fa-angle-right"></i> Transparency in synthetic data usage</li>
        <li><i class="fas fa-angle-right"></i> Misuse of AI-generated content</li>
        <li><i class="fas fa-angle-right"></i> In-the-wild prompt analysis:<a href="https://aclanthology.org/2024.emnlp-main.1227.pdf">[EMNLP'24]</a></li>
      </ul>
    </li>

    <li>
      <strong class="research-topic">
        <i class="fas fa-shield-alt"></i>
        <span>Generative Agents for Security and Privacy</span>
      </strong>
    </li>
  </ul>


</div>

<style>
.research-interests ul {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.research-interests > ul {
  list-style-type: none;
  padding-left: 0;
}
.research-interests > ul > li {
  margin-bottom: 1.5rem;
}
.research-interests > ul > li > ul {
  margin-top: 0.5rem;
  list-style-type: none;
  padding-left: 1.2rem;
}
.research-interests > ul > li > ul > li {
  margin: 0.4rem 0;
  color: var(--global-text-color);
  transition: color 0.3s ease;
}

.research-interests .fas {
  color: var(--global-theme-color);
  margin-right: 0.5rem;
  font-size: 0.9rem;
}
.research-interests > ul > li > ul > li:hover {
  color: var(--global-theme-color);
}
.research-topic {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.research-topic i {
  color: var(--global-theme-color);
}

.research-topic span {
  color: var(--global-text-color);
}
</style>